body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background: linear-gradient(135deg, #0072ff, #00d4ff);
    margin: 0;
    padding: 0;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: #ffffff;
    width: 350px;
    padding: 35px 40px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.15);
}

h2 {
    margin-bottom: 25px;
    color: #0072ff;
}

/* Inputs */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px 12px;
    margin: 10px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: .3s;
    font-size: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #0072ff;
    box-shadow: 0 0 6px rgba(0,115,255,0.5);
    outline: none;
}

/* Button */
.btn {
    width: 100%;
    background: #0072ff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    background: #005bcb;
}

.link {
    margin-top: 15px;
    font-size: 14px;
}

.link a {
    color: #0072ff;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
